# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.swp
*.swo

# Logs
*.log

# Temp files
*.tmp
*.bak
